extends layout

block content
  h1= title
  p Sysive
    h1.
        Message List
  table
    thead
      tr
        th TimeStamp
          th SourceIP
            th Data
    tbody

      each message, i in messages
        tr
          td= message.timestamp
            td= message.sourceip
              td= message.data